.body{

	background-color: #777;
	background: #eeeeee;
	font-family: 'Kanit', sans-serif;
  
  }
  header *{
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
  }
  .img-fluid{
	   max-width: 100%;
  }
  h2 {
	  color: #0894d1;
	}
  
  header{
	  height: 100%;
	  width: 100%;
	  position: relative;
	  background-color: white;
	  box-shadow: 0px 2px 5px rgba(0,0,0,.4);
  }
  .timlogo{
	  width: 450px;
	  display: block;
	  margin-left: 110px;
	  padding-top: 1px;
  }
  .head{
	  position: absolute;
	  top: 35px;
	  right: 120px;
  }
  .head .tile{
	  display: inline-block;
	  height: 50px;
	  width: 50px;
	  margin-left: 5px;
	  transition: all .3s ease-in;
	  -webkit-transition: all .3s ease-in;
  }
  .head .tile.socialmedia{
	  color: #0b253e;
	  font-size: 50px;
	  text-align: center;
	  line-height: 50px;
	  position: relative;
	  top: -6px;
  }
  .tile.socialmediaa{
	  color: #0b253e;
	  font-size: 80px;
	  text-align: center;
	  line-height: 50px;
	  position: relative;
	  top: -6px;
  }
  header.clicked .head .tile.socialmedia{
	  color: white;
  }
  .head .burger{
	  margin-left: 25px;
	  padding: 5px;
	  cursor: pointer;
	  background-color: transparent;
  }
  .meat{
	  height: 40px;
	  width: 40px;
	  position: relative;
	  transition: all .3s ease-in;
	  -webkit-transition: all .3s ease-in;
  }
  header.clicked .head .burger .meat{
	  transform: rotate(180deg);
	  -webkit-transform: rotate(180deg);
  }
  .meat .line{
	  height: 4px;
	  width: 40px;
	  background-color: #0b253e;
	  border-radius: 3px;
	  position: absolute;
	  transition: all .3s ease-in;
	  -webkit-transition: all .3s ease-in;
  }
  .meat .line.one{top: 5px; left: 0px;}
  .meat .line.two{top: 18px; left: 0px;}
  .meat .line.three{top: 31px; left: 0px;}
  
  header.clicked .burger .line{
	  background-color: white;
  }
  header.clicked .burger .line.one{
	  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  top: 18px;
  }
  header.clicked .burger .line.two{
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  top: 18px;
  }
  header.clicked .burger .line.three{
	  opacity: 0;
  }
  header.clicked .burger:hover .meat{
	  transform: rotate(270deg);
	  -webkit-transform: rotate(270deg);
  }
  header.clicked .nav-modal{
	  visibility: visible;
	  opacity: 1;
	  pointer-events: initial;
  }
  
  
  header.clicked .nav-modal .blob{
	  width: 100vw;
	  height: 100vh;
	  border-radius: 0px;
  }
  
  
  
  
  
  header.clicked nav{
	  opacity: 1;
  }

  
		  /* Navigation*/
		  
		  .navbar {
			  background-color: transparent;
		  }
		  
		  .top-nav-collapse {
			  background-color: #304a74;
		  }
		  
  
		  @media only screen and (max-width: 768px) {
			  .navbar {
				  background-color: #4285F4;
			  }
		  }
		  
		  .scrolling-navbar {
			  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
			  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
			  transition: background .5s ease-in-out, padding .5s ease-in-out;
		  }
  
  /* Right-aligned link */
  .navbar a.right {
	float: right;
  }
  
  @import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
  .navbar-brand {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase
  }
  
  
  .ml-auto{
	  font-family: 'Kanit', sans-serif;
	  margin-right: 0px;
	  letter-spacing: 2px;
	  font-size: 17px;
  }
  
  
  .navbar-inverse {
	background-color: #FD9735
  }
  
  .navbar-inverse .navbar-nav>.active>a:hover,
  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #FD9735
  }
  
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:hover,
  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:hover,
  .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #FD9735
  }
  
  .dropdown-menu {
	background-color: #FD9735;
	
	
  }
  .dropdown {
	position: relative;
	display: inline-block;
  }
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #FD9735;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: #FFFFFF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	min-width: 200px;
  }
  
  .dropdown-content a:hover {
	background-color: #FD9735;
	color:#0c4da2;
	
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
	background-color: #695095
	
  }
  
  .navbar-inverse {
	background-image: none;
  }
  
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
	background-image: none;
	
  }
  
  .navbar-inverse {
	border-color: #003300
  }
  
  .navbar-inverse .navbar-brand {
	color: #FFFFFF
  }
  
  .navbar-inverse .navbar-brand:hover {
	color: #000000
  }
  
  .navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF
  }
  
  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	color: #000000
  }
  
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:hover,
  .navbar-inverse .navbar-nav>.open>a:focus {
	color: #000000;
  }
  
  .navbar-inverse .navbar-nav>.active>a:hover,
  .navbar-inverse .navbar-nav>.active>a:focus {
	color: #000000
	
  }
  
  .dropdown-menu>li>a {
	color: #000000
  
  
	
  }
  
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
	color: #000000
	
  }
  
  .navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #003300
	
  }
  
  .navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #003300
	
  }
  
  .navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #003300
  }
  
  .navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-bottom-color: #003300
  }
  .content {
	  max-width: 1150px;
	  margin: auto;
	  background: #ffffff;
	  padding: 30px;
	}
  
  
  
  
  @media screen and (max-width:320px){
	  header .head .tile.socialmedia{
		  display: none;
	  }
  }

  
  @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
 font-family:Rubik,sans-serif;
 position:relative;
 font-weight:400;
 font-size:15px
}
ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e5dbc0
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#747681
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}

  